doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title= title
    //
      Bootstrap core CSS 
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    //
      Custom styles for this template 
    link(href='/css/style.css', rel='stylesheet')
    //
      HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //
      [if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]
  body


    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.glyphicon.glyphicon-log-in
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') AchieveMe
          .navbar-collapse.collapse
            .navbar-form.navbar-right
              if !user
                a.btn.btn-success(href='/auth/google') Sign in with Google account
              else
                a.btn.btn-success(href='/auth/logout') Sign out
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          //- Side Menu is in apart file
          include sideMenu
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          block content

    //
      Bootstrap core JavaScript
      ================================================== 
    //
      Placed at the end of the document so the pages load faster 
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
