extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        select#selectUserPermission(name="userpermission")
            option(value="1") Admin
            option(value="2") Member
        button#btnSubmit(type="submit") submit